@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

.list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #191919;
    line-height: 1.5;
}

.form {
    background-color: #fff;
    color: #2b2b2b;
}

.modal-content {
    padding: 10px;
    border-radius: 0;
}

.form--inner-title {
    margin-bottom: 30px;
}

.form__text {
    margin: 0;
    margin-bottom: 30px;
}

.form__title {
    color: #2b2b2b;
    margin-bottom: 16px;
}

.form__data {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 50px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding: 0 17px;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    outline-color: #c0c0c0;
    background-color: #fcfcfc;
}

.form-label {
    display: flex;
    flex-direction: column;
}

.form__entry {
    height: 190px;
    padding: 17px;
    resize: none;
}

.form__agreement {
    font-size: 14px;
}

.form__link:hover {
    text-decoration: underline;
}

.form__link-agreement {
    font-weight: 500;
    transition: 0.2s;
    text-decoration: underline;
    color: #004e9c;
}

.form__link-agreement:hover {
    color: #0081ff;
}

.form__button {
    width: 100%;
    margin-top: 6px;
}

.title-box {
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #EDE9E9;
    border-top: 1px solid #656565;
    border-bottom: 1px solid #656565;
}

.title {
    font-weight: 400;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.title-medium {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    line-height: 1.3;
    margin: 0;
    font-weight: 500;
}

.title-hero {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 58px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 18px 32px;
    font-weight: 500;
    border-radius: 0;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    color: #fff;
    background-color: #000000;
    font-family: 'Montserrat';
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.btn:hover {
    color: #fff;
    background-color: #333333;
}

.btn:active {
    color: #fff;
    background-color: #595959;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header__col-logo {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 20px;
}

.header__text {
    max-width: 170px;
    font-size: 13px;
    line-height: 1.2;
    margin: 0;
}

.consultation {
    display: flex;
    align-items: center;
    margin-right: 7px;
}

.consultation__text {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    margin-right: 7px;
}

.consultation__list {
    display: flex;
}

.consultation__item {
    opacity: 0.8;
}

.consultation__item:not(:last-child) {
    margin-right: 10px;
}

.consultation__item:hover {
    opacity: 1;
}

.header__right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.header__number {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    text-align: right;
}

.header__number:hover {
    color: #191919;
    text-decoration: underline;
}

.header__adress {
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    text-align: right;
    margin: 0;
}

.header__bottom {
    background-color: #EDE9E9;
    border-bottom: 1px solid #656565;
    border-top: 1px solid #656565;
}

.site-list__link {
    display: inline-block;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    color: #191919;
}

.nav-item:not(:last-child) {
    margin-right: 30px;
}

.site-list__link:hover {
    color: #000;
}

.navbar-brand {
    display: none;
}


.hero {
    min-height: calc(100vh - 118px);
    position: relative;
    padding-top: 200px;
}

.hero__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}


.hero__box {
    margin-right: 50%;
    max-width: 526px;
}

.hero__container {
    z-index: 2;
    padding-bottom: 15px;
}

.hero__title {
    font-size: 26px;
    margin-top: 17px;
    margin-bottom: 40px;
    font-weight: 400;
    max-width: 526px;
}

.hero__descr {
    max-width: 526px;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 64px;

}

.hero__btn {
    margin-right: 50px;
}

.hero__link {
    display: inline-block;
}

.hero__link:hover {
    text-decoration: underline;
}

.services {
    border-bottom: 1px solid #656565;
}

.services__box {
    padding-top: 100px;
    padding-bottom: 130px;
    position: relative;
}

.services__col-right {
    margin-left: 110px;
}

.services__box::before {
    content: "";
    width: 1px;
    height: 100%;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 0;
}

.services__sub-title {
    margin-bottom: 40px;
    margin-right: 30px;
}

.services__item {
    font-size: 20px;
    line-height: 1.3;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e3e3;
    color: #191919;
    font-weight: 300;
    margin-right: 30px;
    max-width: 440px;
}

.services__item:not(:last-child) {
    margin-bottom: 25px;
}

.departure {
    position: relative;
}

.departure--bgcolor {
    background-color: #FCFCFC;
}

.departure__text-box {
    max-width: 526px;
    margin-left: 110px;
    margin-top: 100px;
    margin-bottom: 140px;
}

.departure__text-box--left {
    margin-left: 0;
    margin-right: 15px;
}

.departure__img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.departure__img--left {
    left: 0;
}

.departure__img--right {
    right: 0;
}

.departure__title {
    margin: 0;
    margin-bottom: 20px;
}

.departure__btn {
    margin-right: 60px;
}

.departure__btn-box {
    margin-top: 70px;
}

.departure__link:hover {
    text-decoration: underline;
}

.departure__content h3 {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 40px;
    line-height: 105%;
    margin-bottom: 30px;
}

.departure__content p:nth-child(2) {
    font-weight: 500;
}

.departure__content p {
    margin-bottom: 32px;
}

.find {
    padding-top: 100px;
    padding-bottom: 130px;
    background-color: #FCFCFC;
    border-top: 1px solid #191919;
}

.find--bgcolorfff {
    background-color: #fff;
}

.find__title {
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.find__text {
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 620px;
    font-size: 16px;
    text-align: center;
}

.form-number__box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-number__data {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #AEA7A7;
    height: 56px;
    padding-left: 20px;
    padding-right: 85px;
    border: 1px solid #474747;
    outline-color: #c0c0c0;
    background-color: #fff;
    margin-right: 10px;
}

.form-number__agreement {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-start,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
    transition-duration: 0.8s;
}

@media (min-width: 767px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next,
    .carousel-item-next:not(.carousel-item-start) {
        transform: translateX(33%) !important;
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-item-prev:not(.carousel-item-end),
    .active.carousel-item-start,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-33%) !important;
    }

    .carousel-item-next.carousel-item-start,
    .active.carousel-item-end {
        transform: translateX(0) !important;
    }

    .carousel-inner .carousel-item-prev,
    .carousel-item-prev:not(.carousel-item-end) {
        transform: translateX(-33%) !important;
    }
}

.card {
    --bs-card-spacer-y: 12px;
    --bs-card-spacer-x: 12px;
    --bs-card-border-width: 0;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 0px;
}

.portfolio__btn-box {
    margin-top: 60px;
}


.portfolio {
    padding-bottom: 130px;
}

.portfolio__btn {
    display: block;
    padding: 16px 32px;
    border-radius: 0;
}

.portfolio__tab-box {
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.portfolio__btn.active {
    background-color: #fff;
    color: #191919;
    border: 1px solid #000;
}

.portfolio__list {
    display: none;
}

.portfolio__list.active {
    display: block;
}

.portfoli__container {
    margin: 0 auto;
    margin-bottom: 130px;
    padding: 0 15px;
    max-width: 1326px;
}

.portfolio__item {
    margin-bottom: 100px;
}

.carousel-title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}

.portfolio__btn-box {
    text-align: center;
}

.about__text-box {
    margin-bottom: 100px;
}

.advantage__list {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 130px;
}

.advantage__item {
    position: relative;
    padding: 0 12px;
    padding-top: 100px;
    margin-bottom: 24px;
}

.advantage__item::before {
    content: '';
    width: 56px;
    height: 56px;
    position: absolute;
    top: 0;
    left: calc(50% - 28px);
    background-repeat: no-repeat;
    background-size: contain;
}

.advantage__item--clock::before {
    background-image: url(../img/clock.svg);
}

.advantage__item--like::before {
    background-image: url(../img/thumbs-up.svg);
}

.advantage__item--medal::before {
    background-image: url(../img/medal.svg);
}

.advantage__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 0;
    margin-bottom: 16px;
}

.review {
    background-color: #FCFCFC;
    padding-bottom: 130px;
}

.review__list {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 856px;
    margin: 0 auto;
}

.review__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #C8C2C2;
}

.review__item:not(:last-child) {
    margin-bottom: 50px;
}

.review__name {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 3px;
}

.review__name::before {
    content: '';
    width: 109px;
    height: 17px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    top: 0;
}

.review__date {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    color: #474747;
    margin-bottom: 30px;
}

.review__text {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}

.review__link-box {
    text-align: center;
}

.promotion__list {
    margin-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-bottom: 1px solid #191919;
}

.promotion__sub-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 19px;
    font-weight: 500;
}

.promotion__descr {
    margin: 0;
}

.promotion__img {
    overflow: hidden;
    width: 100%;
    height: 410px;
    margin-bottom: 16px;
    object-fit: cover;
    object-position: center;
}

.certificate {
    margin-bottom: 130px;
}

.certificate__img {
    object-fit: cover;
    object-position: center;
    max-width: 636px;
}

.certificate__content {
    margin-bottom: 73px;
}

.certificate__body {
    max-width: 526px;
}

.certificate__title {
    margin-bottom: 20px;
}

.news {
    padding-bottom: 130px;
}

.news__list {
    margin-top: 100px;
    margin-bottom: 50px;
}

.news__item {
    margin-bottom: 50px;
}

.news__img-box {
    padding-bottom: 70%;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.news__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 500ms cubic-bezier(0.2, 0, 0, 0.8);
}

.news__img:hover {
    transform: scale(1.11);
}

.news__title {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 20px;
}

.news__descr {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
}

.news__btn-box {
    text-align: center;
}

.faq {
    padding-bottom: 130px;
    background-color: #FCFCFC;
}

.faq__accordion {
    margin-top: 70px;
}

.accordion__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    background-color: #FCFCFC;
}

.accordion-item {
    margin-bottom: 20px;
}


.contact__box {
    position: relative;
}

.contact__map {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.contact {
    position: relative;
}

.contact__content {
    margin-top: 130px;
    max-width: 450px;
    font-size: 25px;
    font-weight: 300;
    padding-bottom: 130px;
}

.contact__adress {
    margin: 0;
    margin-bottom: 48px;
}

.contact__list {
    margin-bottom: 56px;
}

.contact__item {
    margin-bottom: 8px;
}

.list-working {
    font-size: 18px;
}

.footer {
    background-color: #4B4B4B;
    color: #fff;
    padding-top: 70px;
}

.footer__box {
    display: flex;
    justify-content: space-between;
}

.footer__col-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 120px;
    flex-shrink: 0;
}

.footer__btn {
    background-color: rgba(54, 54, 54, 0);
    border: 1px solid #fff;
}

.footer__menu {
    width: 100%;
}

.footer__title {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 18px;
}

.footer__sub-list {
    font-size: 14px;
    font-weight: 400;
    text-transform: none;
}

.footer__link:hover {
    color: #dcdcdc;
}

.footer__sub-item:not(:last-child) {
    margin-bottom: 15px;
}

.footer__copy {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    border-top: 1px solid #4B4B4B;
}

.footer__copy-text {
    margin: 0;
}

.img-box {
    position: relative;
    padding-bottom: 62%;
}

.img-box img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.about-atelier__top-content {
    margin: 0 auto;
    padding-top: 100px;
    max-width: 856px;
}

.about-atelier__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 58px;
}

.about-atelier__top-content p {
    font-size: 20px;
}

.about-atelier__img {
    margin: 60px 0px;
}

.certificate__btn {
    margin-bottom: 100px;
}

.atelier-title {
    position: relative;
    font-family: 'Italiana';
    font-size: 180px;
    display: inline-block;
    margin: 0;
}

.atelier-title span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 61px;
    letter-spacing: -0.1em;
}

.content {
    max-width: 684px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.content h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

.content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.content li {
    position: relative;
    padding-left: 14px;
    margin-bottom: 16px;
}

.content li::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    left: 0;
    top: 10px;
    background-color: #191919;
}

.inner-hero {
    min-height: calc(100vh - 138.5px);
    position: relative;
    padding-top: 200px;
    padding-bottom: 20px;
}

.inner-hero__img {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
}

.inner-hero__box {
    margin-right: 50%;
    padding-right: 10px;
}

.inner-hero__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 1;
    margin-bottom: 30px;
}

.inner-hero__descr {
    margin-bottom: 60px;
    max-width: 550px;
}

.inner-hero__advantages {
    margin-top: 100px;
    margin-bottom: 202px;
}

.inner-hero__advantage {
    position: relative;
    padding-top: 50px;
    color: #CABDBD;
    font-size: 14px;
}

.inner-hero__advantage span {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 32px;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 32px;
    font-feature-settings: 'pnum'on, 'lnum'on;
}

.inner-hero__btn {
    margin-right: 40px;
}

.inner-services {
    margin-bottom: 130px;
}

.inner-services__row {
    margin-top: 140px;
    margin-bottom: 22px;
}

.inner-services__col {
    margin-bottom: 108px;
    flex-direction: column;
    display: flex;
}

.inner-services__title {
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 20px;
    line-height: 131.9%;
    margin: 0;
    margin-bottom: 20px;
}

.inner-services__text {
    max-width: 330px;
    margin: 0;
    margin-bottom: 30px;
    flex-grow: 1;
}

.inner-services__link {
    position: relative;
    align-self: flex-start;
    font-style: italic;
    font-size: 15px;
    line-height: 150%;
    padding-right: 32px;
    color: #AD1111;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.inner-services__link::after {
    content: "";
    position: absolute;
    width: 19px;
    height: 4px;
    background-image: url(../img/red-arrow.svg);
    background-repeat: no-repeat;
    top: 8px;
    right: 0;
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
}

.inner-services__link:hover {
    color: #AD1111;
}

.inner-services__link:hover.inner-services__link::after {
    transform: translateX(10px);
}

.inner-services__btn {
    display: block;
    margin: 0 auto;
}

.white-button {
    background-color: #fff;
    border: 1px solid #191919;
    color: #191919;
}

.work-examples__container {
    margin-top: 100px;
    margin-bottom: 130px;
}

.work-examples__btn {
    margin: 0 auto;
    margin-top: 70px;
    display: block;
}

.price-table__wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}

.price-table {
    width: 100%;
}

.price-table__title {
    margin-bottom: 30px;
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 25px;
    line-height: 1.3;
}

.price-table__box {
    display: flex;
    justify-content: space-between;
    background-color: #FDFDFD;
    padding: 25px 40px;
    line-height: 1.2;
}

.price-table__box:nth-child(even) {
    background-color: #fff;
}

.price-table--title {
    flex-grow: 1;
    padding-right: 15px;
}

.price-table--value {
    flex-shrink: 0;
    text-align: right;
    font-weight: 500;
}

.portfolio-page {
    padding-top: 100px;
    padding-bottom: 130px;
}

.portfolio-page__title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 58px;
    line-height: 1.3;
    margin-bottom: 50px;
}

.portfolio-page__img-box {
    position: relative;
    padding-bottom: 130%;
}

.portfolio-page__img-box img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio-page__wrapper {
    position: relative;
}

.portfolio-page__link-2 {
    position: relative;
}

.portfolio-page__box {
    background-color: #EDE9E9;
    display: inline-block;
    padding: 48px 90px;
    outline: 1px solid #000;
    outline-offset: -10px;
    width: 70%;
    bottom: 90px;
}

.portfolio-page__box-sewing {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.portfolio-page__box-repair {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translate(-50%, 0);
}

.portfolio-page__sub-title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #0E0E0E;
    margin: 0;
    margin-bottom: 16px;
}

.portfolio-page__next {
    position: relative;
    display: inline-block;
    font-style: italic;
    margin-top: 16px;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

.portfolio-page__next::after {
    content: '';
    transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: -33px;
    width: 18px;
    height: 6px;
    background-image: url(../img/porfolio-next-arrow.svg);
    background-repeat: no-repeat;
}

.portfolio-remont-odezhdy {
    padding-top: 100px;
    padding-bottom: 130px;
}

.portfolio-remont-odezhdy__item {
    margin-bottom: 100px;
}

.portfolio-remont-odezhdy__sub-title {
    font-family: 'Playfair Display';
    margin: 0;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.portfolio-remont-odezhdy__button-box {
    margin-bottom: 50px;
}

.portfolio-remont-odezhdy__tabs li:not(:last-child) {
    margin-right: 10px;
}

.portfolio-remont-odezhdy__tab-button {
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 1;
    padding: 14px 16px;
    border: 1px solid #191919;
}

.portfolio-remont-odezhdy__tab-button.active {
    background-color: #EDE9E9;
}

.portfolio-remont-odezhdy__img-box {
    position: relative;
    padding-bottom: 70%;
}

.portfolio-remont-odezhdy__img-box img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio-remont-odezhdy__btn {
    display: block;
    margin: 0 auto;
}


.portfolio-poshiv-odezhdy__img-box {
    position: relative;
    padding-bottom: 140%;
}


.portfolio-poshiv-odezhdy__img-box img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.portfolio-poshiv-odezhdy__btn {
    display: block;
    margin: 0 auto;
}

.in-house__descr {
    max-width: 496px;
}

.in-house__bold-text {
    font-weight: 400;
    font-size: 20px;
    color: #191919;
    margin-bottom: 30px;
}

.in-house__button {
    margin-top: 80px;
}

.contact-container {
    padding-top: 120px;
    padding-bottom: 130px;
}

.contact-page__title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 46px;
}

.contact-page__item {
    position: relative;
    padding-left: 46px;
    font-weight: 400;
}

.contact-page__item:not(:last-child) {
    margin-bottom: 40px;
}

.contact-page__timetable {
    font-weight: 300;
    font-size: 14px;
}

.contact-page__item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    background-repeat: no-repeat;
}

.contact-page__item--number::before {
    background-image: url(../img/contact-number.svg);
    width: 15px;
    height: 20px;
}

.contact-page__item--address::before {
    background-image: url(../img/contact-address.svg);
    width: 19px;
    height: 22px;
}

.contact-page__item--mail::before {
    background-image: url(../img/contact-mail.svg);
    width: 22px;
    height: 18px;
}

.information {
    padding-left: 70px;
    border-left: 1px solid #DFDFDF;
}

.information__title {
    font-family: 'Playfair Display';
    font-weight: 500;
    font-size: 24px;
    color: #F03737;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 46px;
}

.information__list {
    font-size: 15px;
}

.information__item:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom: 30px;
}

.contact-page__footer {
    position: relative;
    padding-bottom: 26%;
}

.contact-page__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.contact-page__map {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.breadcrumbs {
    position: absolute;
    z-index: 1;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-size: 12px;
    text-align: left;
}

.breadcrumbs a {
    color: #716F6F;
}

.breadcrumbs__current span {
    color: #A8A8A8;
}

.breadcrumbs a:hover {
    color: #000;
}

.breadcrumbs span {
    position: relative;
}

.breadcrumbs span::before {
    content: "";
    position: absolute;
    right: -14px;
    top: 7px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #716F6F;
    pointer-events: none;
}

.breadcrumbs__current span::before {
    content: "";
    display: none;
    pointer-events: none;
}

.breadcrumbs li:not(:last-child) {
    margin-right: 23px;
}

.breadcrumbs__current {
    cursor: default;
    pointer-events: none;
}

.share {
    max-width: 684px;
    margin: 0 auto;
    margin-bottom: 130px;
}

.share__title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
}

.gallery-item {
    width: 100%;
    cursor: pointer;
}

#gallery-popup .modal-img {
    width: 100%;
}

.error {
    background-color: #FCFAFA;
    padding-top: 130px;
    padding-bottom: 130px;
}

.error__container {
    font-family: 'Playfair Display';
}

.error__img {
    margin-bottom: 72px;
}

.error__title {
    font-size: 60px;
    margin-bottom: 10px;
}

.error__sub-title {
    font-size: 22px;
    margin-bottom: 80px;
}

.error__btn {
    background-color: #E6E6E6;
    color: #191919;
}